<% @articles.each do |article| %>
  <hr>
  <h2>
    <%= article.title %>
  </h2>
  <p>
    <%= truncate(article.text, length: 130) %><br>
  </p>
  <p>
    <%= link_to "Show(#{article.comments.size})", article_path(article) %>
    <% if article.author == current_user.username %>
     | <%= link_to 'Edit', edit_article_path(article) %> |
      <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Вы уверены?' } %>
    <% end %>
  </p>
  <hr>
<% end %>
